<template name="Filters">
    <div class="col-md-4 config_default_style">
         <ul>
             {{#each filter in filters}}
                 <li>
                     <a>{{ filter.name }} - ({{filter.total}})</a>
                     <ul>
                     {{#each collection in filter.collections}}
                         <li>
                             <a>{{ collection.name }} - ({{collection.itemsFound}})</a>
                         </li>
                     {{/each}}
                     </ul>
                 </li>
             {{/each}}
         </ul>
    </div>
</template>
