<template name="Filters">
    <div class="col-md-3 filter-items">
        <ul>
            <li class="no-filter-line">
                 <a class="no-filters" style="cursor: pointer;">{{_ 'Filters.all-items-in-this-search'}}</a>
                 <ul>
                     {{#each filter in filters}}
                         <li class="repo-filter-line">
                             <a  style="cursor: pointer;"
                                 class="filter-repo"
                                 repoTitle="{{ filter.name }}"
                                 repo="{{ filter.key }}">{{ filter.name }} - (<strong>{{filter.total}}</strong>)</a>
                             <ul>
                             {{#each collection in filter.collections}}
                                 <li class="collection-filter-line">
                                     <a style="cursor: pointer;"
                                        class="filter-collection"
                                        repoTitle="{{ filter.name }}"
                                        repo="{{ filter.key }}"
                                        collectionTitle="{{ collection.name }}"
                                        collection="{{ collection.key }}">{{ collection.name }} - (<strong>{{collection.itemsFound}}</strong>)</a>
                                     <ul>
                                        {{#each metadata in (listType collection) }}
                                        <li class="metadata-filter-line">
                                            <a style="cursor: pointer;"
                                               class="filter-metadata"
                                               repo="{{ filter.key }}"
                                               repoTitle="{{ filter.name }}"
                                               collection="{{ collection.key }}"
                                               collectionTitle="{{ collection.name }}"
                                               metadata="{{metadata.key}}"
                                               metadataTitle="{{ metadata.label }}" >{{ metadata.label }} - (<strong>{{metadata.count}}</strong>)</a>
                                        </li>
                                        {{/each}}
                                     </ul>
                                 </li>
                             {{/each}}
                             </ul>
                         </li>
                     {{/each}}
                 </ul>
            </li>
        </ul>
    </div>
</template>
