<template name="Filters">
    <div class="col-md-4 config_default_style">
         <ul>
             {{#each filter in filters}}
                 <li>
                     <a
                             style="cursor: pointer;"
                             class="filter-repo"
                             repo="{{ filter.key }}">{{ filter.name }} - ({{filter.total}})</a>
                     <ul>
                     {{#each collection in filter.collections}}
                         <li>
                             <a style="cursor: pointer;"
                                class="filter-collection"
                                repo="{{ filter.key }}"
                                collection="{{ collection.key }}">{{ collection.name }} - ({{collection.itemsFound}})</a>
                             <ul>
                                {{#each metadata in (listType collection) }}
                                <li>
                                    <a style="cursor: pointer;"
                                       class="filter-metadata"
                                       repo="{{ filter.key }}"
                                       collection="{{ collection.key }}"
                                       metadata="" >{{ metadata.label }} - ({{metadata.count}})</a>
                                </li>
                                {{/each}}
                             </ul>
                         </li>
                     {{/each}}
                     </ul>
                 </li>
             {{/each}}
         </ul>
    </div>
</template>
